<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=artist.name%></title>
</head>
<body>
	<a href="/artists">Back</a>
	<h1><%=artist.name%></h1>
	<h3> List of Albums</h3>
	<% artist.albums.each do |album| %>
		<li><a href="/album/<%=album.id%>"><%=album.name%> </a></li>
	<% end %>

	<h3> Add new album </h3>
	<form method="POST" action="/album">
		<input type="hidden" name="artist_id" value="<%=artist.id%>">
		<input type="text" name="name">
	</form>
</body>
</html>